.title{
	text-align:center;
	font-size:30px;
	font-family:"宋体";
}

.detail{
	position:absolute;
	width:500px;
	margin-top:50px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:705px;
}
.infotitle{
	font-family:"仿宋";
	font-size:25px;
}

.info{
	font-family:"宋体";
	font-size:25px;
	font-weight:bold;
}

.button{
	text-align:center;
}

input{
	width:350px;
	margin-right:5px;
}

textarea{
	width:350px;
	height:300px;
	resize:none;
}