.returninfo{
	position:absolute;
	width:750px;
	margin-top:50px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:640px;
}

.title{
	margin-left:200px;
	font-size:30px;
	font-family:"宋体";
}

.infotitle{
	font-family:"仿宋";
	font-size:25px;
}

button{
	width:110px;
}

.button{
	margin-left:195px;
	margin-top:50px;
}

input{
	width:450px;
	margin-right:5px;
}

.error{
	color:red;
}